@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Play:wght@400;700&family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    font-family: 'Press Start 2P', sans-serif;
    
}
/* Header & Buttons */
.header {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header > p {
    font-size: 16px;
    color: red;
}

.game-title {
    font-size: 32px;
}

.restart-btn, .start-btn{
    font-family: inherit;
    background-color: black;
    color: white;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 8px;

    padding: 10px 10px;
    width: 100%
}

.start-btn {
    background-color: green;
}

.buttons {
    display: flex;
    gap: 15px;
}

.restart-btn:hover, .start-btn:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
} 

/* Main Game UI */
.game-container{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    background-color: #e3e3e3;
    border: black solid 3px;
}

.sec-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 8px;
    gap: 10px;
    padding: 5px;

    background-color: #96b170;
    font-size: 16px;
}

.game-mid {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.scores {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scores, #round {
    color: black;
    padding: 5px 10px;
}

.winner-result, .lose-result {
    padding: 16px;
    color: white;
    font-size: 16px;
}

.winner-result {
    background-color: #88ae53;
}

.lose-result {
    background-color: rgb(165, 89, 89);
}

.round-winner {
    background-color: rgb(243, 162, 10);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 5px;
}

.imgs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.end-result {
    font-size: 16px;
    text-align: center;
}
.end-result > * {
    padding: 15px 0;
}

#rock, #paper, #scissors {
    height: auto;
    width: 200px;
    border: black solid 2px;
    padding: 20px;
    border-radius: 8px;
}

#rock:hover, #paper:hover, #scissors:hover {
    height: auto;
    opacity: 0.5;
    width: 205px;
    border: black solid 3px;
    transition: opacity 0.5s ease;
    transition: width 0.5s ease;
}

#rock {
    background-color: #e1ae21 ;
}

#paper {
    background-color: #4a3d7a;
}

#scissors {
    background-color:#9f2c5b ;
}
/* Footer */
.footer {
    padding-bottom: 10px;
    text-align: center;
    font-size: 8px;
}

ul {
    padding: 0;
    margin: 0;
}

.icons-src {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: gray;
} 
/* Media Queries */
@media screen and (max-device-width: 480px) {
    #rock, #paper, #scissors {
        width: 120px;
    }

    .scores {
        flex-direction: row;
        
    }
    @media (hover: none) {
        #rock:hover, #paper:hover, #scissors:hover { 
            opacity: inherit;
            width: 120px;
            border: black solid 2px; }
      }
    
}